<div class="center jumbotron">
  <h1>Welcome to Ægresco Recipes</h1>
  
  <h2> 
  This is the home page for my rails Udemy project
  </h2>
  
  <%= link_to "Sign Up!", "", class: 'btn btn-lg btn-success' %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as Guest</h2>
    <p><%= link_to "Browse Recipes", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as Guest</h2>
    <p><%= link_to "Browse Recipes", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Browse and view recipes as Guest</h2>
    <p><%= link_to "Browse Recipes", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>